---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404: Not found">
  <div>
    <img
      alt="Ghost getting abducted by aliens"
      class="block mx-auto w-1/2"
      src="/abduction-illustration.svg"
    />
    <h2 class="bg-yellow-400 text-2xl font-bold inline-block my-8 p-3">
      Looks like this page is a ghost that got abducted by aliens...
    </h2>
  </div>
</Layout>
