---
import Layout from '../layouts/Layout.astro';
import RefreshIcon from '../icons/refresh-cw.svg';
import GridIcon from '../icons/grid.svg';
import EyeIcon from '../icons/eye.svg';
import ShieldIcon from '../icons/shield.svg';
import MoonIcon from '../icons/moon.svg';
import CopyIcon from '../icons/copy.svg';
---

<style>
  .app-store-badge {
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    width: 250px;
    height: 83px;
  }
  .app-store-badge img {
    border-radius: 13px;
    width: 250px;
    height: 83px;
  }
</style>

<Layout title="Home" keywords={["home"]}>
  <section class="flex flex-wrap mt-8 mb-32">
    <div class="w-full md:w-1/2 text-center md:text-left">
      <h1 class="text-5xl font-bold tracking-tight leading-tight">Vedic Astrology On-the-Go</h1>
      <div class="my-4 text-gray-800 text-lg">
        Jyotish Computer is easy to use. Analyze events or see current transits. Organize the list of your events and places. Works on iPad.
      </div>
      <div class="my-8">
        <a href="https://apps.apple.com/us/app/jyotish-computer/id485847193?itsct=apps_box_badge&amp;itscg=30200" class="app-store-badge">
          <img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1323302400&h=4f35d8e34d8a95f60554d019a8815734" alt="Download on the App Store" />
        </a>
      </div>
    </div>
    <div class="w-full md:w-1/2 text-center">
      <img alt="App Icon" class="block m-auto rounded-lg shadow-lg" src="/app-icon.png" />
    </div>
  </section>

  <section class="my-32 text-center flex flex-wrap">
    <h1 class="w-full text-5xl font-bold tracking-tight leading-tight">Modern design</h1>
    <div class="w-full mt-4 mb-8 text-gray-800 text-lg">
      Written in SwiftUI. Takes advantage of the latest Apple framework. Works on iPhone and iPad.
    </div>
    <div class="w-full md:w-1/2 text-left mb-8">
      <div class="mb-4 flex">
        <div>
            <MoonIcon class="mr-5 mt-2" />
        </div>
        <div>
          <h3 class="text-xl font-semibold">Dark Mode</h3>
          <div class="my-1 text-gray-700">Thanks to SwiftUI, Dark Mode is built-in.</div>
        </div>
      </div>
      <div class="mb-4 flex">
        <div>
          <CopyIcon class="mr-5 mt-2" />
        </div>
        <div>
          <h3 class="text-xl font-semibold">Big screen support</h3>
          <div class="my-1 text-gray-700">Analyze two divisional charts simultaniously on iPad.</div>
        </div>
      </div>
      <div class="mb-4 flex">
        <div>
          <ShieldIcon class="mr-5 mt-2" />
        </div>
        <div>
          <h3 class="text-xl font-semibold">No external dependencies</h3>
          <div class="my-1 text-gray-700">Jyotish Computer doesn't use any 3rd party libraries to calculate or display charts.</div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2 text-center">
      <img alt="Dark Mode" width="300" height="300" class="block m-auto rounded-lg shadow-lg" src="/dark-mode.png" />
    </div>
  </section>

  <section class="mt-32 mb-8 flex flex-wrap text-center">
    <h1 class="w-full text-5xl font-bold tracking-tight leading-tight">Feature-rich</h1>
    <div class="w-full mt-4 mb-8 text-gray-800 text-lg">
      Jyotish Computer comes with lots of features. And we keep adding more.
    </div>
    <div class="w-full md:w-1/2 text-center mb-8">
      <img alt="Chart Styles" width="300" height="300" class="block m-auto rounded-lg shadow-lg" src="/chart-styles.png" />
    </div>
    <div class="w-full md:w-1/2 text-left">
      <div class="mb-4 flex">
        <div>
          <EyeIcon class="mr-5 mt-2" />
        </div>
        <div>
          <h3 class="text-xl font-semibold">3 Chart Styles</h3>
          <div class="my-1 text-gray-700">Northern (Shukra Chakra), Southern (Guru Chakra), and Eastern (Surya Chakra) chart styles.</div>
        </div>
      </div>
      <div class="mb-4 flex">
        <div>
          <GridIcon class="mr-5 mt-2" />
        </div>
        <div>
          <h3 class="text-xl font-semibold">Divisional Charts</h3>
          <div class="my-1 text-gray-700">Analyze popular devisional charts up to D60.</div>
        </div>
      </div>
      <div class="mb-4 flex">
        <div>
          <RefreshIcon class="mr-5 mt-2" />
        </div>
        <div>
          <h3 class="text-xl font-semibold">Dasha Periods</h3>
          <div class="my-1 text-gray-700">Analyze Vimshottari Dasha and 8 of its variations up to Pranadasha.</div>
        </div>
      </div>
    </div>
  </section>
</Layout>
