---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Privacy Policy" keywords={["privacy", "policy"]}>
  <section>
    <h1 class="text-4xl font-bold my-4">Privacy Policy</h1>
    <p class="my-4">We do not collect, use, save, share, or have access to any of your personal data recorded in Jyotish Computer app.</p>
    <p class="my-4">Individual settings and data entries are stored only on your device.</p>
    <p class="my-4">If you have any questions about this Privacy Policy, feel free to contact us at <a href="mailto:info@jyotishapp.com" class="text-blue-600">info@jyotishapp.com</a>.</p>
  </section>
</Layout>
