/*! purgecss start ignore */
@tailwind base;

.app-store-badge {
  display: inline-block;
  overflow: hidden;
  border-radius: 13px;
  width: 250px;
  height: 83px;
}
.app-store-badge img {
  border-radius: 13px;
  width: 250px;
  height: 83px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;
